* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
}

section {
    display: inline-block;
    background-color: yellow;
}

aside {
    display: inline-block;
    background-color: blue;
}

footer {
    background-color: red;
}