* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.btn {
    text-decoration: none;
}

p {
    margin-bottom: 16px;
    font-size: 2rem;
}

p:last-child {
    margin-bottom: 0px;
}
