* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 8vh;
    width: 100vw;
    background-color: pink;
}

section {
    display: inline-block;
    height: 87vh;
    width: 85vw;
    background-color: yellow;
}

aside {
    display: inline-block;
    background-color: blue;
    width: 15vw;
    height: 87vh;
}

footer {
    height: 5vh;
    width: 100vw;
    background-color: red;
}