* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  height: 8%;
  background-color: pink;
}

section {
  height: 87%;
  width: 85%;
  display: inline-block;
  background-color: yellow;
}

aside {
  height: 87%;
  width: calc(100% - 85%);
  display: inline-block;
  background-color: blue;
}

footer {
  height: calc(100% - 8% - 87%);
  background-color: red;
}
