* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #edf2f4;
}

.blog {
  margin: 20px;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #8d99ae;
}

.blog h1 {
  margin-bottom: 20px;
  color: #2b2d42;
}

p {
  color: #edf2f4;
}

#title2 > h1 {
  color: #f3dfa2;
}

#title3 h1 {
  color: #d90429;
}
